{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="flex justify-center items-center h-80">
        <div class="md:w-1/2 xl:w-2/6 w-full h-1/4 mx-2">
            <form class="flex flex-col lg:flex-row gap-3" action="{% url 'employee:employee-get-list' %}" method="post">
                {% csrf_token %}
                <div id="input-block"
                    class="flex flex-row items-center gap-2 px-2 w-full border-solid border-2 rounded bg-white
                   {% if error %} border-red-600 {% else %} border-slate-300  {% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-envelope text-slate-400" viewBox="0 0 16 16">
                        <path
                            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
                    </svg>
                    <input class="input-primary border-none text-slate-400 focus:outline-none" type="email" name="email"
                       placeholder="EmployeeID/email" id="employee-email-id">
                </div>
                <button class="btn-primary self-end" type="submit">Get list</button>
            </form>
            {% if error %}
            <small id="error-msg" class="text-red-600 text-center block md:inline">{{error}}</small>
            {% endif %} 
        </div>
    </div>
{% endblock content %}