{% extends '_base.html' %}
{% load static %}
{% block content %}
    <table class="table-auto mx-auto w-96 md:w-1/2 xl:w-2/5">
        <thead>
            <tr>
                <th class="bg-cyan-600 text-white p-2 rounded-l-sm">Holiday Date</th>
                <th class="bg-cyan-600 text-white rounded-r-sm p-2">Holiday Name</th>
            </tr>
        </thead>
        <tbody class="text-slate-600">
            {% if holidays %}
            {% for holiday in holidays %}
            <tr class="border-b-2">
                <td class="p-2">{{holiday.name}}</td>
                <td class="p-2">{{holiday.date}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="border-b-2">
                <td class="p-2">No list..</td>
                <td class="p-2"></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}